<div class="container">
    <h1 class="text-center py-3">Menu</h1>

    
    <div class="goTo">
        <button type="button" class="btn btn-outline-danger" routerLink="/cart">Go to cart</button>
    </div>

    <div class="d-flex justify-content-between flex-wrap">
       
        <div class="card mb-3" style="width: 14rem" *ngFor="let product of products"
                (click)="navigateToProduct(product.id)">
        
            <img class="card-img-top" src="{{product.imageUrl}}" data-toggle="modal" [attr.data-target]="'#myModal_' + product.id">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" type="button" (click)="addToCart(product)">{{product.price | number: '1.2-2' }} RON</button>
            </div>


    
            <div class="modal fade" id="myModal_{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="myModalLabel">{{product.name}}</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                                <img src="{{product.imageUrl}}" width="200px">
                                <p>{{product.description}}</p>
                                <p>{{product.longDescription}}</p>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


