<div class="img">
    
    <div class="content">
        <form class="form">
            <p class="title">Delivery</p>
            <p class="message">Informatii pentru livrare:</p>
            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>Nume</span>
            </label>

            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>Numar de telefon</span>
            </label>

            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>Adresa</span>
            </label>

            <button class="submit">Submit</button>
        </form>
    </div>
</div>


