<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Random</title>
</head>
<body>
    <div class="slideshow-container">
        <div class="slide">
          <img src="https://www.spice-electronics.com/modules/ph_simpleblog/featured/62.jpg" alt="Image 1">
        </div>
        <div class="slide">
          <img src="https://hips.hearstapps.com/runnersworld-uk/i/11041/25148.jpg?crop=1xw:0.5291005291005291xh;center,top&resize=1200:*" alt="Image 2">
        </div>
      
        <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
        <a class="next" onclick="changeSlide(1)">&#10095;</a>
      </div>
      
      <div class="dot-container">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
      </div>

      <div class="content">
            <div class="txt">
                <p>
                    Amplasat in Oradea, Pizza Random este un restaurant chic cu specific italian.<br>
                    Cu un decor placut cu accente vintage, Random le vorbeste celor care ii trec pragul<br>
                    intr-o limba universala: mancarea delicioasa, gatita cu pasiune si ingrediente proaspete.<br>
                </p>
            </div>

            <div class="img1">
                <img src="assets/asdc.jpg">
            </div>
      </div>
      
      <script src="scripts.js"></script>

</body>
</html>