<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Random</title>
</head>
<body>
    <div class="contentt"> 
          <img class="bg" src="https://s1.1zoom.me/b6152/819/Pizza_Tomatoes_547600_1920x1080.jpg">
  
      <div class="content">
            <div class="txt">
                <p>
                    Amplasat in Oradea, Pizza Random este un restaurant chic cu specific italian.<br>
                    Cu un decor placut cu accente vintage, Random le vorbeste celor care ii trec pragul<br>
                    intr-o limba universala: mancarea delicioasa, gatita cu pasiune si ingrediente proaspete.<br>
                </p>
            </div>
      </div>
      
    </div>
</body>
</html>