.navbar{
    background-color: #CD5C5C;
    border-bottom-style:groove;
    border-bottom-color: black;
    .logo{
        width: 8%;
    }
    .contact{
        border-style: solid;
        background-color: red;
        border-radius:15em;
        
    }
}

