<nav class="navbar navbar-expand-md navbar-dark px-5">
    <a class="navbar-brand" routerLink="/home">
        <img class="logo" src="assets/logo.png">
        <span>PIZZA RANDOM</span>
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-right" routerLinkActive="active" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-right" routerLinkActive="active" routerLink="/menu">Menu</a>
            </li>
            <li class="nav-item">
                <a class="contact nav-link text-right" routerLinkActive="active" routerLink="/contact">Contact-Us</a>
            </li>
            <a class ="myCart button fancy-button" routerLink="active" routerLink="/cart">
                <i class="material-icons">shopping_cart</i>Checkout
            </a>
        </ul>
    </div>

</nav>