.navbar{
    background-color: #CD5C5C;
    border-bottom-style:groove;
    border-bottom-color: black;
    .logo{
        width: 8%;
    }
   
    .myCart{
        display: flex;
        align-items: center;
        margin-left: 10px;
        border-style: solid;
        border-radius: 10%;
        padding: 5px;
        color: white;
    }
}

