h1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image{
    display: flex;
    justify-content: flex-start;
    width: 100px;
    height: 100px;
}
.cart-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    border-style:solid;
    margin-left: 10px;
}
.cartManage{
    display: flex;
    justify-content: space-around;
    margin-right: 5em;
    margin-top: 3em;
}

