<div class="contactUs">
    <div class="title">
        <h2>Get in touch</h2>
    </div>

    <div class="box">
        <div class="contact form">
            <h3>Send a Message</h3>
            <form>
                <div class="formBox">
                    <div class="row50">
                        <div class="inputBox">
                            <span>Nume</span>
                            <input type="text" placeholder="Nume">
                        </div>
                        <div class="inputBox">
                            <span>Prenume</span>
                            <input type="text" placeholder="Prenume">
                        </div>
                    </div>

                    <div class="row50">
                        <div class="inputBox">
                            <span>Adresa de email</span>
                            <input type="text" placeholder="random@email.com">
                        </div>
                    </div>

                    <div class="row100">
                        <div class="inputBox">
                            <span>Mesaj</span>
                            <textarea placeholder="Scrie aici mesajul tau..."></textarea>
                        </div>
                    </div>
                    <div class="row100">
                        <div class="inputBox">
                            <input type="submit" value="Send">
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="contact info">
            <h2>Contact Info</h2>
            <div class="infoBox">
                <div>
                    <p>Adresa: Strada Random, Numarul 2 <br>Oradea</p>
                </div>
                <div>
                    <a href="mailto:pizzarandom@yahoo.com">Email: pizzarandom@yahoo.com</a>
                </div>
                <div>
                    <a href="tel:0721212212">Tel: 0721 212 212</a>
                </div>
            </div>
        </div>

        <div class="contact map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2718.272496774193!2d21.928303999999997!3d47.05450470000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474647e878f538bf%3A0xbbab4feb89b43ffe!2sPia%C8%9Ba%20Unirii%2C%20Oradea!5e0!3m2!1sro!2sro!4v1685881354935!5m2!1sro!2sro" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>